main {
    overflow: hidden;
    padding: 10px 16px;
}

.pageTitle {
    font-weight: 600;
    margin: 10px 0 15px 0;
}

.orderStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d5c68a;
    padding: 8px 16px;
    border-radius: 10px;
    border: 2px solid #e6d68d;
    margin-bottom: 10px;
    width: 64%;
    margin: 0 auto
}

.switchLabel {
    font-weight: 500;
    cursor: pointer;
    display: flex;
    gap: 6px;
    align-items: center;
}

.qtyCell {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 14px !important;
}

.qtyInput {
    width: 170px;
    padding: 3px 6px;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    font-size: 14px;
}

.qtyInput2 {
    width: 52px;
    padding: 3px 6px;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    font-size: 14px;
}

.editIcon {
    cursor: pointer;
    font-size: 15px;
    color: #666;
    transition: 0.2s;
}

.editIcon:hover {
    color: #3498db;
}

.saveBtn {
    margin-top: -10px;
    margin-bottom: 12px;
    display: inline-block;
}

.ordersList {
    display: grid;
    grid-template-columns: repeat(2, minmax(450px, 1fr));
    gap: 14px;
    margin: 0 auto;
}

.print {
    display: flex;
}

.actioButton {
    position: relative;
    bottom: 0px;
}

.orderCard {
    background: #fff;
    border: 2px solid #e4d081;
    padding: 16px;
    border-radius: 12px;
    transition: 0.2s;
}

.orderCard:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.orderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 4px;
}

.orderHeader h4 {
    margin: 0;
    font-size: 17px;
}

.billInfo p {
    margin: 3px 0;
    font-size: 14px;
}

.statusRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #ececec;
    margin-bottom: 8px;
}

.paymentText {
    margin: 0;
    font-size: 14px;
}

.customTable th {
    background: #f4f4f4;
    font-size: 13px;
}

.customTable td,
.customTable th {
    padding: 6px 8px;
    vertical-align: middle;
    font-size: 14px;
}

.totalsBox {
    background: #fafafa;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    width: 100%;
    font-size: 14px;
}

.totalsBox p {
    margin: 4px 0;
    display: flex;
    justify-content: space-between;
}

.totalsBox .grand {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.add-discount {
    padding: 6px;
    border-width: 1px 7px;
    border-style: solid;
    border-color: #007BFF;
    border-radius: 3px;
    margin-top: 10px;
    float: right;
}

td:last-child>button {
    border: 2px solid red;
    font-size: 10px;
    color: red;
    padding: 1px 11px;
    background: none;
}

.themeBtn {
    background: #e8c55c;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.themeBtn:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.themeBtn.small {
    padding: 4px 10px;
    font-size: 13px;
}

.themeBtn.danger {
    background: #e74c3c;
    color: white;
}

.themeBtn.green {
    background: #2ecc71;
    color: white;
}

.themeBtn.blue {
    background: #3498db;
    color: white;
}

.btn-danger.btn-sm {
    padding: 3px 8px;
}

.cancelB {
    background: none;
    border: none;
    padding-bottom: 3px;
    border-bottom: 2px solid red;
    color: red;
}

.spin-loader {
    animation: spin 1s linear infinite;
    font-size: 18px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}