.noInternetPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: auto; */
    text-align: center;
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
    margin-top: 50px;
}

.icon {
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
    max-width: 400px;
}

.retryButton {
    background-color: #031837;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.retryButton:hover {
    background-color: #f78b00;
}