.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
}

.logoAndTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    /* background: #f5f5f5; */
    color: #031837;
    margin-bottom: 20px;
    border-bottom-left-radius: 22%;
    border-bottom-right-radius: 22%;
    border-bottom: 1px solid #ea7100;
}

.logoAndTitle .logoDiv img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.logoAndTitle h3 {
    font-size: clamp(16px, 2vw, 26px);
    line-height: 1.2;
    max-width: 500px;
    word-wrap: break-word;
    background: rgba(255, 255, 255, 0.6);
    padding: 6px 12px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgb(3 24 55);
}

.logoDiv {
    background: #333;
    padding: 10px;
    border-radius: 10px;
}

.form-label {
    font-weight: 500;
    color: #333;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 15px;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-control:focus {
    border-color: #ea7100;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.2);
    outline: none;
}

textarea.form-control {
    min-height: 80px;
}

/* Buttons */
.btn-success {
    background-color: #031837;
    border-color: #031837;
    color: #fff;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
    color: #fff;
}

h5 {
    color: #333;
}

.container img {
    display: block;
    border-radius: 8px;
    border: 1px solid #ddd;
    object-fit: cover;
}

@media (max-width: 768px) {
    .row>.col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}