.selection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
}

.book-head {
    padding: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 24px;
    margin-bottom: 0;
}

.create-new {
    padding: 5px;
    border: 1px solid #031837;
    margin-left: 49px;
}

.allBooking {
    text-align: center;
}